body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info-wrapper {
  margin: 12px;
}

.info-item {
  padding-right: 12px;
}

.icon {
  padding-right: 6px;
}

.record {
  text-align: left;
  margin: 12px;
}

.date {
  color: #636e72;
  font-size: 14px;
}